* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(18, 22, 31);
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: rgb(103, 231, 91);
}

button {
  background-color: rgb(103, 231, 91);
  padding: 10px 25%;
  border-radius: 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0px;
  cursor: pointer;
}
